#navbar {
    width: 100vw;
    background-color: rgba(242, 242, 242, 0.759);
    border-bottom: 1px rgb(226, 226, 226) solid;
    font-size: 1.5em;
    padding: 0.35em 1.3em 0em;
    display: flex;
    box-sizing: border-box;
    position: fixed;
    gap: 1em;
    backdrop-filter: blur(10px);
}

#logo {
    flex-grow: 1;
}

#navbar-dummy {
    width: 90vw;
    height: 8em;
    box-sizing: border-box;
}